<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.vogella.jdt.astsimple.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.vogella.jdt.astsimple.commands.category"
            name="Sample Command"
            id="de.vogella.jdt.astsimple.commands.sampleCommand">
      </command>
      <command
            categoryId="de.vogella.jdt.astsimple.commands.category"
            id="de.vogella.jdt.astsimple.commands.getInfo"
            name="GetInfo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.vogella.jdt.astsimple.handlers.SampleHandler"
            commandId="de.vogella.jdt.astsimple.commands.sampleCommand">
      </handler>
      <handler
            class="de.vogella.jdt.astsimple.handlers.GetInfo"
            commandId="de.vogella.jdt.astsimple.commands.getInfo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="de.vogella.jdt.astsimple.commands.getInfo"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.vogella.jdt.astsimple.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
                  id="de.vogella.jdt.astsimple.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="de.vogella.jdt.astsimple.commands.getInfo"
                  id="de.vogella.jdt.astsimple.menus.getInfo"
                  mnemonic="I">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.vogella.jdt.astsimple.toolbars.sampleToolbar">
            <command
                  id="de.vogella.jdt.astsimple.toolbars.sampleCommand"
                  commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
            <command
                  id="de.vogella.jdt.astsimple.toolbars.getInfo"
                  commandId="de.vogella.jdt.astsimple.commands.getInfo"
                  icon="icons/sample.png"
                  tooltip="Give info">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
