<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="cz.muni.fi.diagram.view"
            class="cz.muni.fi.diagram.ui.view.ClassDiagramView"
            icon="icons/sample.png"
            id="cz.muni.fi.diagram.view.ClassDiagramView"
            name="ClassDiagram"
            restorable="true">
      </view>
   </extension>

</plugin>
