<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="cz.muni.fi.diagram.view"
            class="cz.muni.fi.diagram.ui.view.ClassDiagramView"
            icon="icons/diagram.png"
            id="cz.muni.fi.diagram.view.ClassDiagramView"
            name="Class Diagram"
            restorable="true">
      </view>
      <category
            id="cz.muni.fi.diagram.view"
            name="Class Diagram">
      </category>
   </extension>

</plugin>
